<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Boardgame</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

<div class="container">

    <h3>Boardgame Form</h3>  <hr class="border">  <p class="h4 mb-4">Save Boardgame</p>

    <form action="#" th:action="@{/boardgames/save}"
          th:object="${boardgame}" method="POST">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="name" class="form-label">Title:</label>
            <input type="text" th:field="*{name}" class="form-control w-25" id="name" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="gameType" class="form-label">Game Type:</label>
            <input type="text" th:field="*{gameType}" class="form-control w-25" id="gameType" placeholder="Game Type">
        </div>

        <div class="mb-3">
            <label for="minPlayers" class="form-label">Minimum Players:</label>
            <input type="text" th:field="*{minPlayers}" class="form-control w-25" id="minPlayers" placeholder="0">
        </div>

        <div class="mb-3">
            <label for="maxPlayers" class="form-label">Maximum Players:</label>
            <input type="text" th:field="*{maxPlayers}" class="form-control w-25" id="maxPlayers" placeholder="0">
        </div>





        <button type="submit" class="btn btn-info col-2">Save</button>

        <hr class="border">  <a th:href="@{/boardgames/list}">Back to Boardgames List</a>

    </form>

</div>

</body>
</html>

